<a href="https://colab.research.google.com/github/Raghadshh/RaghadShaheen_DTSC3020_Fall2025/blob/main/assignemnt2_%3Crs1755%3E.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
fruits =["apple", "banana", "orange"]
print(fruits)
for fruit in fruits:
  print(fruit)

['apple', 'banana', 'orange']
apple
banana
orange

In [6]:
names = ["jake", "mike", "jason", "luis"]
names[0] = "cruz"
print(names)

['cruz', 'mike', 'jason', 'luis']

In [7]:
vehicles = ["car","bus", "bike", "train", "boat"]
vehicles.append("motorcycle")
print(vehicles)

['car', 'bus', 'bike', 'train', 'boat', 'motorcycle']

In [10]:
foods = ["chips", "burger", "pizza", "bagel", "pasta", "apples"]
del foods[1]
print(foods)

['chips', 'pizza', 'bagel', 'pasta', 'apples']

In [13]:
cities = ["dallas","austin", "houston", "prosper"]
cities.sort()
print(cities)
cities.reverse()
print(cities)

['austin', 'dallas', 'houston', 'prosper']
['prosper', 'houston', 'dallas', 'austin']

In [16]:
animals = ["cats", "dogs", "birds"]
for animal in animals:
  print(animal)

cats
dogs
birds

In [31]:
for num in range(1, 6):
    print(num * 2)

2
4
6
8
10

In [23]:
friends = ["serene", "mike", "jana", "lana", "sara", "garret"]
print("First three friends:", friends[:3])
print("Last three friends:", friends[-3:])

First three friends: ['serene', 'mike', 'jana']
Last three friends: ['lana', 'sara', 'garret']

In [29]:
numberslist = list(range(1, 11))
print(numberslist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
squares = [num**2 for num in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]