<a href="https://colab.research.google.com/github/Raghadshh/RaghadShaheen_DTSC3020_Fall2025/blob/main/Assignment4_(ch_6)__(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DTSC 3020 – Assignment 4
Chapter 6 – Dictionaries

Total points: 4

Deadline: Friday at midnight

Submission: Upload your Python file to your GitHub repository and submit only your GitHub link.


Expectations
Write complete answers and run all cells before submission.
Keep the notebook clean (no unnecessary code).

Exercise  1: Find and print the student with the lowest grade.

In [19]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:
lowest = grades["Ali"]
lowest_student = "Ali"

for key, value in grades.items():
  if value < lowest:
    lowest = value
    lowest_student = key

print(f"The student with the lowest grade is {lowest_student} with the score of {lowest}")

The student with the lowest grade is Omid with the score of 16

Exercise 2: print names of students who registered for any course containing "Data"

In [20]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Data Mining', 'Chemistry'],
    'Reza': ['Machine Learning', 'Data Science'],
    'Lina': ['English', 'History']
}

# Write your code here:

for key, value in courses.items():
  for v in value:
    if "Data" in v:
      print(key)

Sara
Reza

Exercise 3: Print titles of books that are not available.

In [39]:
library = {
    'Python101': {'pages': 180, 'available': True},
    'AI Basics': {'pages': 130, 'available': False},
    'Math Advanced': {'pages': 200, 'available': False},
    'Statistics': {'pages': 175, 'available': True}
}

# Write your code here:
for key, value in library.items():
  if not value['available']:
    print(key)

AI Basics
Math Advanced

Exercise 4: Print names of students who are registered for more than 2 courses.

In [16]:

registrations = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry', 'Math'],
    'Reza': ['English'],
    'Lina': ['History', 'Physics', 'Geography', 'Art']
}

# Write your code here:
print("The students who are registered for more than 2 courses are:")
for key, value in registrations.items():
  if len(value) > 2:
    print(key)

The students who are registered for more than 2 courses are:
Sara
Lina

Exercise 5: Calculate and print the average grade of the class.

In [18]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:
total = 0

for key, value in grades.items():
  total += value


avg = total / len(grades)
print(avg)

18.1

Exercise 6: Count and print the number of students registered for "Python".

In [12]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:
count = 0
print("The students who are registered for Python are:")
for key, value in courses.items():
    if 'Python' in value:
        count += 1
        print(key)

print(f"Total number of students registered for Python: {count}")

The students who are registered for Python are:
Ali
Reza
Omid
Total number of students registered for Python: 3

Exercise 7: Print titles of books with more than 200 pages.

In [15]:
book_pages = {
    'Python101': 180,
    'AI Basics': 230,
    'Math Advanced': 250,
    'Statistics': 190,
    'Data Science': 300
}


# write your answer here
for k, v in book_pages.items():
  if v > 200:
    print(f"{k} has more than 200 pages")

AI Basics has more than 200 pages
Math Advanced has more than 200 pages
Data Science has more than 200 pages

Exercise 8: Print each student's name and number of registered courses.

In [14]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:
for student, c in courses.items():
    print(f"{student} is registered for {len(c)} courses")

Ali is registered for 2 courses
Sara is registered for 2 courses
Reza is registered for 2 courses
Lina is registered for 2 courses
Omid is registered for 1 courses